{{extend 'item/index.html'}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{=item.headline}} <small>{{=T('META changelog')}}</small>
    </h3>
  </div>
  <div class="panel-body">
    <p>
        {{=T('''
        Current item metadata version by %(first_name)s %(last_name)s on %(date_time)s
        ''') % dict(
          first_name=db.auth_user(item.modified_by).first_name,
          last_name=db.auth_user(item.modified_by).last_name,
          date_time=item.modified_on
        )}}
    </p>
  </div>

  {{if changes.rows:}}
    {{=changes}}
  {{pass}}
  <div class="panel-footer">
    {{if CT_REG[item.item_type].get_changelog_url(item):}}
        <a class="btn btn-default" href="{{=CT_REG[item.item_type].get_changelog_url(item)}}">
            {{=T('Content changes')}}
        </a>
    {{pass}}
  </div>
</div>
