{{response.files.append(URL('static','plugin_photoset/css/fileuploader.css'))}}
{{response.files.append(URL('static','plugin_photoset/css/style.css'))}}
{{response.files.append(URL('static','plugin_photoset/js/fileuploader.js'))}}
{{extend 'item/index.html'}}


<div id="hiddethis" class="hidden">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- here goes the basic form -->
      {{=LOAD(c='plugin_photoset', f='edit_form.load', ajax=True, args=[item.id], target='edit_form')}}
    </div>
    <div class="col-md-6">
      <!-- here put the JS uploader -->
      {{=LOAD(c='plugin_photoset', f='view_photoset.load', ajax=True, args=[item.id], target='view_photoset')}}
    </div>
  </div>
</div>
